@charset "UTF-8";

.hide{
    display:none;
}

h1{
    color: rgba(17, 197, 13, 1);
    font-family: sans-serif;
    text-align: center;
}

.item1{grid-area: self;}
.item2{grid-area: bio;}
.item3{grid-area: hobbies;}
.item4{grid-area: schools;}
.item5{grid-area: footer;}

.container{
    display: grid;
    grid-template-areas: 
    'self self self'
    'bio bio bio'
    'bio bio bio'
    'hobbies hobbies schools'
    'hobbies hobbies schools'
    'footer footer footer';
    gap: 20px;
    background-color: rgba(72, 110, 125, 1);
    border: 20px solid yellow;
    padding: 20px;
    margin: 20px;

}

.container>div{
    background-color: rgba(34, 101, 57, 1);
    padding: 10px;
    font-family: sans-serif;
    
}
.content{
    color:white;
}

.container>div.item2{
    background-color: rgba(34, 101, 57, 1);
    padding: 0px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;


}

.bio{
    padding: 10px
}


.pic1{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pic2{
    width: 500px;
    display: block;
    margin-left: 10px;
}

h2{
    text-align: center;
}

.biotitle{
    border-top:10px solid rgba(72, 110, 125, 1);
    border-bottom: 30px solid rgba(72, 110, 125, 1);
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

#hobbies{
    background-image: url(images/tennis\ corner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
}

.hobbietitle{
    background-color: rgba(133, 160, 77, 1);
    height: 35px;
    width: 100px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.schooltitle{
    background-color: rgba(133, 160, 77, 1);
    border: 0px;
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

#footer{
    text-align: center;
}